In [1]:
import pandas as pd

In [2]:
pd.options.display.max_colwidth = 200


jobs_industrydf = pd.read_csv("Resources/Jobs_Industry_AllAreas_1998_2021.csv")
jobs_industrydf

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,178979700,182325100,186233800,190325800,193425900,196394100,200281200,201648200,195301600,201142600
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,...,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156538000,147228000,151813000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,...,39360700,40393100,41511800,42684800,43465900,44445100,45919200,45110200,48073600,49329600
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,...,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000,1782000,1777000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,...,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,47552600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7079,"""98000""",Far West,8,SAEMP25N,2012.0,...,Local government,Number of jobs,2049355,2128346,...,2281894,2293991,2333449,2389805,2472179,2513431,2541117,2561156,2418420,2411288
7080,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7081,SAEMP25N: Total Full-Time and Part-Time Employment by NAICS Industry 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7082,"Last updated: September 30, 2022-- new statistics for 2021; revised statistics for 2017-2020.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7083,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
jobs_industrydf = jobs_industrydf.dropna()

In [4]:
jobs_industrydf

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,178979700,182325100,186233800,190325800,193425900,196394100,200281200,201648200,195301600,201142600
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,...,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156538000,147228000,151813000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,...,39360700,40393100,41511800,42684800,43465900,44445100,45919200,45110200,48073600,49329600
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,...,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000,1782000,1777000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,...,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,47552600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7075,"""98000""",Far West,8,SAEMP25N,2001.0,...,Federal civilian,Number of jobs,427528,420516,...,422511,413913,408306,412759,418622,419819,417591,421988,439930,427722
7076,"""98000""",Far West,8,SAEMP25N,2002.0,...,Military,Number of jobs,403003,394818,...,414362,409727,397837,394073,410166,406683,372699,369323,374197,380674
7077,"""98000""",Far West,8,SAEMP25N,2010.0,...,State and local,Number of jobs,2768290,2869498,...,3112146,3128551,3186587,3257859,3324962,3376607,3417021,3453627,3299846,3298835
7078,"""98000""",Far West,8,SAEMP25N,2011.0,...,State government,Number of jobs,718935,741152,...,830252,834560,853138,868054,852783,863176,875904,892471,881426,887547
7079,"""98000""",Far West,8,SAEMP25N,2012.0,...,Local government,Number of jobs,2049355,2128346,...,2281894,2293991,2333449,2389805,2472179,2513431,2541117,2561156,2418420,2411288

In [5]:
reducedjobs_df = jobs_industrydf[["GeoFIPS", "GeoName","Description","2019", "2020","2021"]]

reducedjobs_df

,GeoFIPS,GeoName,Description,2019,2020,2021
0,"""00000""",United States,Total employment (number of jobs),201648200,195301600,201142600
1,"""00000""",United States,Wage and salary employment,156538000,147228000,151813000
2,"""00000""",United States,Proprietors employment,45110200,48073600,49329600
3,"""00000""",United States,Farm proprietors employment,1787000,1782000,1777000
4,"""00000""",United States,Nonfarm proprietors employment 2/,43323200,46291600,47552600
...,...,...,...,...,...,...
7075,"""98000""",Far West,Federal civilian,421988,439930,427722
7076,"""98000""",Far West,Military,369323,374197,380674
7077,"""98000""",Far West,State and local,3453627,3299846,3298835
7078,"""98000""",Far West,State government,892471,881426,887547
7079,"""98000""",Far West,Local government,2561156,2418420,2411288

In [6]:
geonames = reducedjobs_df.groupby("GeoName")

geolist = geonames["GeoName"].count()

geolist

GeoName
Alabama                 118
Alaska                  118
Arizona                 118
Arkansas                118
California              118
Colorado                118
Connecticut             118
Delaware                118
District of Columbia    118
Far West                118
Florida                 118
Georgia                 118
Great Lakes             118
Hawaii                  118
Idaho                   118
Illinois                118
Indiana                 118
Iowa                    118
Kansas                  118
Kentucky                118
Louisiana               118
Maine                   118
Maryland                118
Massachusetts           118
Michigan                118
Mideast                 118
Minnesota               118
Mississippi             118
Missouri                118
Montana                 118
Nebraska                118
Nevada                  118
New England             118
New Hampshire           118
New Jersey              118
New Mexico              118
New York                118
North Carolina          118
North Dakota            118
Ohio                    118
Oklahoma                118
Oregon                  118
Pennsylvania            118
Plains                  118
Rhode Island            118
Rocky Mountain          118
South Carolina          118
South Dakota            118
Southeast               118
Southwest               118
Tennessee               118
Texas                   118
United States           118
Utah                    118
Vermont                 118
Virginia                118
Washington              118
West Virginia           118
Wisconsin               118
Wyoming                 118
Name: GeoName, dtype: int64

In [8]:
reducedjobs2_df=reducedjobs_df.loc[(reducedjobs_df['GeoName'] != "Far West") & (reducedjobs_df['GeoName'] != "Great Lakes") & (reducedjobs_df['GeoName'] != "Mideast") & (reducedjobs_df['GeoName'] != "Plains") & (reducedjobs_df['GeoName'] != "Rocky Mountain") & (reducedjobs_df['GeoName'] != "Southeast") & (reducedjobs_df['GeoName'] != "Southwest") & (reducedjobs_df['GeoName'] != "New England") & (reducedjobs_df['GeoName'] != "United States")] 

reducedjobs2_df

,GeoFIPS,GeoName,Description,2019,2020,2021
118,"""01000""",Alabama,Total employment (number of jobs),2712163,2671253,2738167
119,"""01000""",Alabama,Wage and salary employment,2126780,2044151,2096405
120,"""01000""",Alabama,Proprietors employment,585383,627102,641762
121,"""01000""",Alabama,Farm proprietors employment,34596,34755,34327
122,"""01000""",Alabama,Nonfarm proprietors employment 2/,550787,592347,607435
...,...,...,...,...,...,...
6131,"""56000""",Wyoming,Federal civilian,7578,7806,7680
6132,"""56000""",Wyoming,Military,6221,6383,6357
6133,"""56000""",Wyoming,State and local,61069,59770,59874
6134,"""56000""",Wyoming,State government,14755,15078,14875
6135,"""56000""",Wyoming,Local government,46314,44692,44999

In [9]:
reducedjobs2_df = reducedjobs2_df.rename(columns={"GeoName": "us_states", "Description": "industry", "2019": "2019_jobs", 
                                                  "2020": "2020_jobs", "2021":"2021_jobs" })  

reducedjobs2_df

,GeoFIPS,us_states,industry,2019_jobs,2020_jobs,2021_jobs
118,"""01000""",Alabama,Total employment (number of jobs),2712163,2671253,2738167
119,"""01000""",Alabama,Wage and salary employment,2126780,2044151,2096405
120,"""01000""",Alabama,Proprietors employment,585383,627102,641762
121,"""01000""",Alabama,Farm proprietors employment,34596,34755,34327
122,"""01000""",Alabama,Nonfarm proprietors employment 2/,550787,592347,607435
...,...,...,...,...,...,...
6131,"""56000""",Wyoming,Federal civilian,7578,7806,7680
6132,"""56000""",Wyoming,Military,6221,6383,6357
6133,"""56000""",Wyoming,State and local,61069,59770,59874
6134,"""56000""",Wyoming,State government,14755,15078,14875
6135,"""56000""",Wyoming,Local government,46314,44692,44999

In [10]:
del reducedjobs2_df['GeoFIPS']

reducedjobs2_df

,us_states,industry,2019_jobs,2020_jobs,2021_jobs
118,Alabama,Total employment (number of jobs),2712163,2671253,2738167
119,Alabama,Wage and salary employment,2126780,2044151,2096405
120,Alabama,Proprietors employment,585383,627102,641762
121,Alabama,Farm proprietors employment,34596,34755,34327
122,Alabama,Nonfarm proprietors employment 2/,550787,592347,607435
...,...,...,...,...,...
6131,Wyoming,Federal civilian,7578,7806,7680
6132,Wyoming,Military,6221,6383,6357
6133,Wyoming,State and local,61069,59770,59874
6134,Wyoming,State government,14755,15078,14875
6135,Wyoming,Local government,46314,44692,44999

In [11]:
reducedjobs2_df.dtypes

us_states    object
industry     object
2019_jobs    object
2020_jobs    object
2021_jobs    object
dtype: object

In [14]:
#reducedjobs2_df["2019"] = reducedjobs2_df["2019"].astype("int")

reducedjobs2_df['2019_jobs'] = pd.to_numeric(reducedjobs2_df['2019_jobs'], errors='coerce')
reducedjobs2_df['2020_jobs'] = pd.to_numeric(reducedjobs2_df['2020_jobs'], errors='coerce')
reducedjobs2_df['2021_jobs'] = pd.to_numeric(reducedjobs2_df['2021_jobs'], errors='coerce')

reducedjobs2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6018 entries, 118 to 6135
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   us_states  6018 non-null   object
 1   industry   6018 non-null   object
 2   2019_jobs  5715 non-null   float64
 3   2020_jobs  5675 non-null   float64
 4   2021_jobs  5713 non-null   float64
dtypes: float64(3), object(2)
memory usage: 282.1+ KB

In [17]:
reducedjobs2_df.to_csv("Resources/Job_industry_CLEANED.csv")