In [1]:
import pandas as pd
import re

In [2]:
income_df = pd.read_csv("Resources/Income_AllAreas_1998_2021.csv")

In [3]:
income_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SASUMMARY,1.0,...,Real GDP (millions of chained 2012 dollars) 1/,Millions of chained 2012 dollars,12045824,12623361,...,16253970,16553348,16932051,17390295,17680274,18076651,18609078,19036052,18509143,19609812
1,"""00000""",United States,,SASUMMARY,2.0,...,Real personal income (millions of constant (2...,Millions of constant 2012 dollars,(NA),(NA),...,14003346,13999660.3,14549525.5,15207440,15451718.3,15876254,16314204.8,16897074.2,17825584.2,18412541.1
2,"""00000""",United States,,SASUMMARY,3.0,...,Real PCE (millions of constant (2012) dollars...,Millions of constant 2012 dollars,(NA),(NA),...,11047363.2,11211711.4,11515312.3,11892947.4,12187675.5,12478228.1,12837303.4,13092261.6,12700723.2,13754090.1
3,"""00000""",United States,,SASUMMARY,4.0,...,Gross domestic product (GDP),Millions of current dollars,9062817,9631172,...,16253970,16843196,17550687,18206023,18695106,19477337,20533058,21380976,21060474,23315081
4,"""00000""",United States,,SASUMMARY,5.0,...,Personal income,Millions of current dollars,7601594,8006585,...,14003346,14189228,14969527,15681233,16092713,16837337,17671054,18575467,19812171,21288709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,"""56000""",Wyoming,7,SASUMMARY,15.0,...,Total employment (number of jobs),Number of jobs,310043,315198,...,396704,400402,406343,406033,398130,398939,404561,408235,401871,409176
780,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,SASUMMARY: State annual summary statistics: pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,"Last updated: December 15, 2022.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
income_df_reduced = income_df[['GeoName', 'Description', '2019', '2020', '2021']]

In [5]:
income_df_reduced.head()

,GeoName,Description,2019,2020,2021
0,United States,Real GDP (millions of chained 2012 dollars) 1/,19036052,18509143,19609812
1,United States,Real personal income (millions of constant (2...,16897074.2,17825584.2,18412541.1
2,United States,Real PCE (millions of constant (2012) dollars...,13092261.6,12700723.2,13754090.1
3,United States,Gross domestic product (GDP),21380976,21060474,23315081
4,United States,Personal income,18575467,19812171,21288709

In [6]:
income_df_reduced = income_df_reduced.loc[income_df_reduced['GeoName']!='United States']
income_df_reduced.head()

,GeoName,Description,2019,2020,2021
15,Alabama,Real GDP (millions of chained 2012 dollars) 1/,203432.7,199880.8,209979.3
16,Alabama,Real personal income (millions of constant (2...,223626.5,239485,246873.9
17,Alabama,Real PCE (millions of constant (2012) dollars...,182791.4,182200.5,196126.6
18,Alabama,Gross domestic product (GDP),231561.9,230892.1,254109.7
19,Alabama,Personal income,216587.5,232040.3,250828.8

In [7]:
personal_income_df = income_df_reduced.loc[income_df_reduced['Description'] == ' Personal income ']

In [8]:
personal_income_df

                  GeoName        Description       2019       2020       2021
19                Alabama   Personal income    216587.5   232040.3   250828.8
34                 Alaska   Personal income     45056.8    45965.1    48219.2
49                Arizona   Personal income    340259.8   375601.3   403739.3
64               Arkansas   Personal income    133161.4   142038.5   153185.8
79             California   Personal income   2567425.6  2790523.5  3006183.9
94               Colorado   Personal income    356341.3   378051.4   410948.2
109           Connecticut   Personal income    272459.4   282486.1   300323.5
124              Delaware   Personal income     53202.5    55866.8    60133.6
139  District of Columbia   Personal income     58203.2    61925.5    64644.7
154               Florida   Personal income   1165093.1  1235793.4  1356318.6
169               Georgia   Personal income      522393   557601.2     602464
184                Hawaii   Personal income     79699.7    83109.5    87857.7
199                 Idaho   Personal income     83031.5    91448.5    99549.6
214              Illinois   Personal income    750935.6   794459.5   852082.1
229               Indiana   Personal income      329625   354337.7     384520
244                  Iowa   Personal income    160360.6   169994.2   182524.5
259                Kansas   Personal income    155125.9   164333.6   172918.3
274              Kentucky   Personal income      197356   214052.5   231179.8
289             Louisiana   Personal income    222349.1   236324.2   250700.7
304                 Maine   Personal income       68863    74805.9    80254.4
319              Maryland   Personal income    384074.3   405454.6   430429.3
334         Massachusetts   Personal income    513710.4   550459.5   584291.1
349              Michigan   Personal income    495268.6   537493.5   567807.1
364             Minnesota   Personal income      332916   355211.2   378284.7
379           Mississippi   Personal income    117112.8   126306.9   135347.4
394              Missouri   Personal income    301030.7   320698.2     341254
409               Montana   Personal income     54083.5    58769.6    62886.7
424              Nebraska   Personal income    105922.2   112629.7   120188.5
439                Nevada   Personal income    161433.6   172538.5   189308.2
454         New Hampshire   Personal income     88822.8    94440.8   101674.5
469            New Jersey   Personal income      633651   663544.1   713720.6
484            New Mexico   Personal income     91853.6      99018   106451.2
499              New York   Personal income   1362298.6  1442624.6  1524128.5
514        North Carolina   Personal income    505470.2   542726.5     592695
529          North Dakota   Personal income     44346.9    47410.7    50002.9
544                  Ohio   Personal income    589835.8   631330.7   670035.6
559              Oklahoma   Personal income    191851.6   200152.9   214760.7
574                Oregon   Personal income      222257   241790.3   261546.5
589          Pennsylvania   Personal income    739891.8   788281.5   833314.5
604          Rhode Island   Personal income     61107.2      65709    70531.5
619        South Carolina   Personal income    237024.5   251946.2   272339.5
634          South Dakota   Personal income       48797    53621.5    57717.8
649             Tennessee   Personal income    338609.2   362278.1   394520.4
664                 Texas   Personal income   1560503.5  1624525.8  1767681.7
679                  Utah   Personal income    157045.2   171385.4   186990.5
694               Vermont   Personal income     35584.5    38097.7    39949.4
709              Virginia   Personal income    507874.1   536817.2   573027.9
724            Washington   Personal income    490322.1   527581.8   570920.8
739         West Virginia   Personal income     77329.9    80971.2    86451.8
754             Wisconsin   Personal income      311019   329622.8   351551.3
769               Wyoming   Personal income       36889      37974    40322.8

In [9]:
personal_income_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 19 to 769
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoName      51 non-null     object
 1   Description  51 non-null     object
 2   2019         51 non-null     object
 3   2020         51 non-null     object
 4   2021         51 non-null     object
dtypes: object(5)
memory usage: 2.4+ KB

In [10]:
personal_income_df[['2019', '2020', '2021']] = personal_income_df[['2019', '2020', '2021']].astype('float')

/Users/saheedosoba/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [11]:
personal_income_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 19 to 769
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoName      51 non-null     object
 1   Description  51 non-null     object
 2   2019         51 non-null     float64
 3   2020         51 non-null     float64
 4   2021         51 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.4+ KB

In [12]:
personal_income_df = personal_income_df.rename(columns={'GeoName': 'us_state', '2019': '2019_income', '2020':'2020_income', '2021':'2021_income'})

In [13]:
personal_income_df.drop('Description', axis = 1, inplace = True)

In [14]:
personal_income_df

                 us_state  2019_income  2020_income  2021_income
19                Alabama     216587.5     232040.3     250828.8
34                 Alaska      45056.8      45965.1      48219.2
49                Arizona     340259.8     375601.3     403739.3
64               Arkansas     133161.4     142038.5     153185.8
79             California    2567425.6    2790523.5    3006183.9
94               Colorado     356341.3     378051.4     410948.2
109           Connecticut     272459.4     282486.1     300323.5
124              Delaware      53202.5      55866.8      60133.6
139  District of Columbia      58203.2      61925.5      64644.7
154               Florida    1165093.1    1235793.4    1356318.6
169               Georgia     522393.0     557601.2     602464.0
184                Hawaii      79699.7      83109.5      87857.7
199                 Idaho      83031.5      91448.5      99549.6
214              Illinois     750935.6     794459.5     852082.1
229               Indiana     329625.0     354337.7     384520.0
244                  Iowa     160360.6     169994.2     182524.5
259                Kansas     155125.9     164333.6     172918.3
274              Kentucky     197356.0     214052.5     231179.8
289             Louisiana     222349.1     236324.2     250700.7
304                 Maine      68863.0      74805.9      80254.4
319              Maryland     384074.3     405454.6     430429.3
334         Massachusetts     513710.4     550459.5     584291.1
349              Michigan     495268.6     537493.5     567807.1
364             Minnesota     332916.0     355211.2     378284.7
379           Mississippi     117112.8     126306.9     135347.4
394              Missouri     301030.7     320698.2     341254.0
409               Montana      54083.5      58769.6      62886.7
424              Nebraska     105922.2     112629.7     120188.5
439                Nevada     161433.6     172538.5     189308.2
454         New Hampshire      88822.8      94440.8     101674.5
469            New Jersey     633651.0     663544.1     713720.6
484            New Mexico      91853.6      99018.0     106451.2
499              New York    1362298.6    1442624.6    1524128.5
514        North Carolina     505470.2     542726.5     592695.0
529          North Dakota      44346.9      47410.7      50002.9
544                  Ohio     589835.8     631330.7     670035.6
559              Oklahoma     191851.6     200152.9     214760.7
574                Oregon     222257.0     241790.3     261546.5
589          Pennsylvania     739891.8     788281.5     833314.5
604          Rhode Island      61107.2      65709.0      70531.5
619        South Carolina     237024.5     251946.2     272339.5
634          South Dakota      48797.0      53621.5      57717.8
649             Tennessee     338609.2     362278.1     394520.4
664                 Texas    1560503.5    1624525.8    1767681.7
679                  Utah     157045.2     171385.4     186990.5
694               Vermont      35584.5      38097.7      39949.4
709              Virginia     507874.1     536817.2     573027.9
724            Washington     490322.1     527581.8     570920.8
739         West Virginia      77329.9      80971.2      86451.8
754             Wisconsin     311019.0     329622.8     351551.3
769               Wyoming      36889.0      37974.0      40322.8

In [25]:
personal_income_df.to_csv("Resources/income_all_final_CLEANED.csv", index = False)