In [8]:
import pandas as pd

In [10]:
pd.options.display.max_colwidth = 200


jobs_industrydf = pd.read_csv("Resources/Jobs_Industry_AllAreas_1998_2021.csv")
jobs_industrydf

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,178979700,182325100,186233800,190325800,193425900,196394100,200281200,201648200,195301600,201142600
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,...,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156538000,147228000,151813000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,...,39360700,40393100,41511800,42684800,43465900,44445100,45919200,45110200,48073600,49329600
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,...,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000,1782000,1777000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,...,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,47552600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7079,"""98000""",Far West,8,SAEMP25N,2012.0,...,Local government,Number of jobs,2049355,2128346,...,2281894,2293991,2333449,2389805,2472179,2513431,2541117,2561156,2418420,2411288
7080,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7081,SAEMP25N: Total Full-Time and Part-Time Employment by NAICS Industry 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7082,"Last updated: September 30, 2022-- new statistics for 2021; revised statistics for 2017-2020.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7083,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
jobs_industrydf = jobs_industrydf.dropna()

In [12]:
jobs_industrydf

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,178979700,182325100,186233800,190325800,193425900,196394100,200281200,201648200,195301600,201142600
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,...,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156538000,147228000,151813000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,...,39360700,40393100,41511800,42684800,43465900,44445100,45919200,45110200,48073600,49329600
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,...,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000,1782000,1777000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,...,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,47552600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7075,"""98000""",Far West,8,SAEMP25N,2001.0,...,Federal civilian,Number of jobs,427528,420516,...,422511,413913,408306,412759,418622,419819,417591,421988,439930,427722
7076,"""98000""",Far West,8,SAEMP25N,2002.0,...,Military,Number of jobs,403003,394818,...,414362,409727,397837,394073,410166,406683,372699,369323,374197,380674
7077,"""98000""",Far West,8,SAEMP25N,2010.0,...,State and local,Number of jobs,2768290,2869498,...,3112146,3128551,3186587,3257859,3324962,3376607,3417021,3453627,3299846,3298835
7078,"""98000""",Far West,8,SAEMP25N,2011.0,...,State government,Number of jobs,718935,741152,...,830252,834560,853138,868054,852783,863176,875904,892471,881426,887547
7079,"""98000""",Far West,8,SAEMP25N,2012.0,...,Local government,Number of jobs,2049355,2128346,...,2281894,2293991,2333449,2389805,2472179,2513431,2541117,2561156,2418420,2411288

In [ ]:
reducedjobs_df = jobs_industrydf[[""]]